# Copy this file to .env and fill in your actual credentials.
# These values will OVERRIDE what is in config.yaml.
# NEVER commit the .env file to version control.

DNAC_USERNAME=devnetuser
DNAC_PASSWORD=Cisco123!
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
